@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signature</title>
    <link href="~/Content/css/jquery.signaturepad.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table>
            <tr>
                <td><button type="button" class="clearButton" id="btnClear1">Clear</button></td>
            </tr>
            <tr>
                <td>
                    <form class="sigPad" id="signPad1">
                        <canvas class="pad" width="500" height="200" style="border: 1px solid grey;"></canvas>
                        <input type="hidden" name="output" class="output" id="signHdn1">
                    </form>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><button type="button" class="clearButton" id="btnClear2">Clear</button></td>
            </tr>
            <tr>
                <td>
                    <form class="sigPad" id="signPad2">
                        <canvas class="pad" width="500" height="200" style="border: 1px solid grey;"></canvas>
                        <input type="hidden" name="output" class="output" id="signHdn2">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <script src="~/Content/assets/plugins/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/jquery.signaturepad.js"></script>
    <script src="~/Content/js/json2.js"></script>
    <script>
        $(document).ready(function () {
            var p = $('#signPad1').signaturePad({
                drawOnly: true,
                penColour: 'black'
            });
            var q = $('#signPad2').signaturePad({
                drawOnly: true,
                penColour: 'black'
            });

            $("#btnClear1").click(function () {
                p.clearCanvas();
            });

            $("#btnClear2").click(function () {
                q.clearCanvas();
            });

        });
    </script>


</body>
</html>

